<div class="modal fade" id="ShowTrans" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exabel">联系物主</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">您可直接联系</div>
                    <div class="panel-body">
                        <div id="tel"></div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">也可通过站内信联系(<strong>匿名用户请在留言里填写联系方式,已登录用户不用</strong>)</div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <textarea id="content" class="form-control" rows="5"></textarea>
                            </div>
                            <div class="form-group text-right">
                                <span class="label label-success " id="showok"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                 <button id="btnsubmit" type="button" class="btn btn-primary">提交留言</button>
                                
                            </div>
                        </form>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
