body {
   /*
        padding-top: 50px;
    padding-bottom: 20px;

   */
   padding-left:10px;
   padding-right:10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.jumbotron {
      background: #1a86c0;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 580px;
}
.serachinput {
     max-width: 200px;
}


/* search */
#hero {
  min-height: 10em;
  background: #1a86c0;
 
}
#hero .row {
  margin-top: 3em;
  color: #fff;
  text-align: center;
}
 #hero h2 {
  font-weight: 100;
}

 #hero .form-control {
  float: left;
  width: 75%;
  display: block;
  height: 45px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #73C1EA;
  border-radius: 4px;
  box-shadow: none;
}
#hero .btn-custom {
  color: #FFF;
  background-color: #1A86C0;
  border-color: #73C1EA;
  height: 45px;
  padding: 0px 12px;
  text-transform: uppercase;
  width: 21%;
  float: right;
}
/*search end*/
/*index*/
.front-page-header {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: left;
  color: #249136;
}
.product-category-link a{
  color: #838383;
  font-size: 15px;

}

/*index end*/
.width50 {
    width:50%;
}
.myinput {
    max-width: 580px;
}
/*图片居中*/
.goodspic img{ margin:0 auto;}
.showImg {
    width: 200px;
    height: 200px;
    border-radius:5px;
}
.showImg1 {
    width: 200px;
    height: 200px;
    border-radius:5px;
}
.size-selection {
  width: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #999999;
  color: #999999;
}

.product-set-image {
  border-radius:5px;
   max-width:90%;

}
.product-set-header {
  font-size: 20px;
  color: #3e001f;
}
.product-medium-description {
  color: #888888;
}
.product-set-pc {
  background: url(/img/product.png) no-repeat;
  padding: 0;
  text-align: left;
  text-indent: -9999px;
  background-size: auto 100%;
  width: 100%;
}
.rowGoods {
    padding-bottom:10px;
    padding-top:10px;

}