
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add1</title>
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link href="~/Content/JQuery.JSAjaxFileUploader.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/js/JQuery.JSAjaxFileUploader.js"></script>
    <script src="~/Scripts/js/UpLoadImage.js"></script>
</head>
<body>
    <div> 
        <div id="testId"></div>
        <div id="tb">
            <table id="tbl">
                <tbody></tbody>
            </table>
        </div>
    </div>
</body>
</html>
